main {
    background-color: whitesmoke;
    margin: 10%;
    display: flex;
    justify-content: center;
}

body {
    /* background-image: url(../../images/spain-bg.jpg); */
    background-color: whitesmoke;

}

a {
    text-decoration: none;
}